@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&family=Roboto+Slab:wght@200;400&display=swap');

:root {
    --bg-color: #735d78;
    --card-boarder-color: #d1b3c4;
    --name-color: #f7d1cd;
    --name-font-size: 50px;
    --subheader-font-size: 30px;
    --subheader-color: #c4feb1;
    --content-font-size: 18px;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;

    background-color: var(--bg-color);
    color: var(--name-color);
    margin: 0;
    padding: 0;
}
h2 {
    color: var(--subheader-color);
    font-size: var(--subheader-font-size);
}
.line {
    /* Creates a dotted line used indicate page sections */
    border-top: 3px dashed #e8c2ca;
    width: 110%;
    z-index: -1;
    margin-left: -15px;
    margin-bottom: 25px;
}
h3 {
    /* header used for project card titles */
    color: var(--bg-color);
    font-size: 20px;
}


.accounts {
    position: fixed;  /* Make navbar follow user scrolling */

    display: flex;
    flex-direction: inherit;
    align-items: center;
    width: 10vw;
}
.accounts > img:not(.link) {
    height: auto;
    width: 100px;
    margin: 20px;
}
.accounts a > img {
    padding: 10px;
    height: auto;
    width: 40px;
}


.banner {
    display: flex;
    flex-direction: inherit;
    justify-content: center;

    height: 100vh;
    font-size: 30px;
    padding: 0px 20vw;
}
.banner h1 {
    margin-bottom: 15px;
    font-size: var(--name-font-size);
}
@keyframes color {
    0%   { color: var(--name-color);}
    50%  { color: #cde7bc; }
    100%  { color: #92d7ab; }
}
b {
    /* The letter D and B */
    font-size: 110px;
}
b:hover {
    animation: color 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    /* animation-iteration-count: infinite; */
}
.banner p {
    color: var(--subheader-color);
    font-size: var(--subheader-font-size);
    margin: 0;
    padding: 0;
}


.about-me {
    display: flex;
    flex-direction: inherit;
    height: 100vh;
    padding: 0px 15vw;
}
.main-info {
    display: flex;
    justify-items: center;
    align-items: center;

    font-size: var(--content-font-size);
}
.text {
    display: flex;
    flex-direction: inherit;
    font-size: 60px;
}
.text p {
    margin: 50px 0;
}
.main-info  img {
    height: auto;
    width: 300px;
    margin-right: 100px;
    box-shadow: rgba(37, 1, 43, 0.562) 0px 10px 25px;
}


.projects {
    display: flex;
    flex-direction: inherit;
    padding: 0px 15vw;
    padding-bottom: 50px;
}
.project-content {
    display: grid;
    grid-template-columns: auto auto auto;
}
.project-card {
    background-color: var(--card-boarder-color);
    border-radius: 3px;
    width: 20vw;
    height: 45vh;
    margin: 5px;
    padding: 20px;
}
.project-card p {
    color: var(--bg-color);
}
.projectlinks {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.project-card a img {
    height: auto;
    width: 30px;
}
.project-card a {
    margin-left: 20px;
}